html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #000000;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  line-height: 1.3;
}

#b {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#a {
  position: absolute;
  left: 0;
  top: 15%;
  padding: 0 10px;
  width: 100%;
  text-align: center;
}
#c {
  position: absolute;
  left: 0;
  top: 90%;
  padding: 0 10px;
  width: 100%;
  text-align: center;
}
h2 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 120;
  color: #ffffff;
  letter-spacing: 0.05em;
}
